.App {
  display: flex;
}

.selectionPage{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

.cart{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: green; 
  width: 20%;
  height: 100vh;
}